#roboflow
#ultralytics
#torch

#update 118 to newest version: https://stackoverflow.com/questions/60912744/install-pytorch-from-requirements-txt
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

matplotlib
seaborn
pandas
numpy
scipy
scikit-learn
pathlib
opencv-python
yt_dlp
ffmpeg
tqdm
cmake #for onnx
onnx
ipykernel
torchinfo
tensorboard
pycocotools
roboflow
ultralytics